<html>
    <head>
        <title>Index page</title>
    </head>
    <body>
        <div>
            <a href="/adds/1">Addition</a>
        </div>
        <hr />
        <div>
            <a href="/adds/2">Addition & multiplication</a>
        </div>
        <hr />
        <div>
            <a href="/subs/1">Substraction</a>
        </div>
        <hr />
        <div>
            <a href="/subs/2">Substraction & division</a>
        </div>
    </body>
</html>